.component {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.expence{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 40px;
}
.expenceSum {
    margin-left: 30px;
    color: red;
}
.modal{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: white;
    align-items: center;
    flex-direction: column;
}
.modalTitle{
    text-align: center;
    font-size: 36px;
    color: chartreuse;}
.modalInputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    gap: 10px;
    width: 90%;
}
.modalButtons{
    display: flex;
    height: 50px;
    /* gap: 50px; */
    justify-content: space-around;
}
    