.component {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
}
.first{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}