.linked .active {
  color: red;
}
.linked {
  text-decoration: none;
  color: black;
}
.linked:hover,
.linked:focus {
  cursor: pointer;
  color: rgb(13, 13, 18);
}
.active {
  color: red;
}
/* .linked:visited {
    color: black;
} */
/* .linked:focus {
    color: tomato;
} */

.layout_items {
  margin: 0;
  padding: 0;
  display: flex;
  /* padding: 10px; */
  border-bottom: 1px solid gray;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.layout_item {
  /* padding: 0px 20px; */
}
.layout_item:first-child {
  padding-left: 40px;
}
.layout_item:last-child {
  padding-right: 40px;
}
.active {
  color: yellow;
}
.tmp {
  display: flex;
  align-items: center;
}
.avatar {
  margin-left: 10px;
}

.regLogItems {
  display: flex;
  padding-right: 40px;
  width: 200px;
  justify-content: space-between;
  list-style: none;
}
.userInfo {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn {
  margin-left: 30px;
}
.homeBtn {
  width: 40px;
  height: 40px;
}
.headerLogo {
  width: 60px;
  height: 60px;
}
