.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-evenly;
    align-content: center;
}